.ProductDetailsContainer{
    background-color: #9e0100;
  min-height: 100vh; 
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:'#bb0100';
}
.ProductDetailsHeader{
    background-color:rgba(175, 165, 165, 0.966);
    height: 20%;
    height: 20%;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    text-align: center
}
.ProductDetailsContainer1{
    display:flex;
    flex:1;
    /* justify-content:center;
    align-items: center;
    text-align: center; */
    flex-direction: column;
}
.ProductDetailsButton{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #9e0100
}
.ProductDetailsProductInfo{
    display:flex;
    flex:1;
    background-color: white;
    /* height:30px; */
    width: 100%;
    padding: 15px;
    flex-direction: column;
}
.ProductDetailsContainer2{
    display:flex;
    flex:1; 
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px
}
.ProductDetailsContainer3{
    display:flex;
    flex:1;
    background-color: white;
    margin-top: 5px;
    flex-direction: column;
}
.ProductDetailsContainer4{
    /* padding-top: 8px;
    padding-bottom: 8px; */
    display:flex;
    flex:1;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    
}
.ProductDetailsImage1{
    height: 35px;
    width: 35px
}
.ProductDetailsContainer5{
    display:flex;
    flex:1;  
    /* padding: 15px; */
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.ProductDetailsImage2{
    height: 250px;
    width: 300px;
    border:1px solid #73777e;
}
.ProductDetailsImage3{
    height: 70px;
    width: 70px;
    /* margin: 5px */
          /* border:1px solid #73777e; */
}
.ProductDetailsContainer6{
    display: flex;
    flex: 1;
    padding: 15px;
    flex-direction: column;
}
.ProductDetailsContainer7{
    display: flex;
    flex: 1;
    background-color: white;
    margin-top: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 
}
.ProductDetailsButton1{
    height: 60px;
    width: 200px;
margin: 10px;
background-color: #9e0100;
border-radius: 10px    
}
.BuyModal{
    display: flex;
    flex: 1;
    background-color: yellow;
    justify-content: center;
}